.nav-padding {
  /* This is used to deal with the fixed navbar */
  height: 64px;
}

.nav {
  position: fixed;
  z-index: 1000;
}

.link-container {
  list-style-type: none;
  padding: 0;
  margin: 15px 0;
}

.nav-title {
  font-size: 1.5rem;
  font-weight: 700;
  white-space: nowrap;
}

.navlink-li {
  margin-left: 2rem;
}

@media only screen and (max-width: 768px) {
  .bar-container {
    width: 100%;
  }
  .link-container,
  .nav {
    flex-direction: column;
  }
  .nav-open {
    height: 100vh;
  }
  .link-container {
    width: 100%;
    align-items: start;
  }
  .navlink-li {
    margin: 0;
    width: 100%;
  }
  .navlink {
    width: 100%;
    display: flex;
    margin: 0.5rem 0;
  }
}
